---
// src/components/Header.astro
// Configuración de Tailwind (si se usa en el proyecto)
// Si no, podemos usar clases CSS normales o el enfoque que prefieras
---

<header class="bg-white shadow-s">
    <!-- Contenedor principal para la sección superior del header -->
    <div class="container mx-auto px-20 py-0">
        <div
            class="flex flex-wrap items-center justify-center lg:justify-between gap-4"
        >
            <!-- Logo -->

            <div class="">
                <a
                    aria-label="Site Logo"
                    href="#"
                    title="Cacao Import - Más que una tienda mayorista"
                    rel="home"
                    class="w-20"
                >
                    <div class="w-30 overflow-x-hidden">
                        <img
                            data-lazyloaded="1"
                            src="https://www.pedidoslink.com/cdn-cgi/image/width=200,height=200,fit=cover/https://firebasestorage.googleapis.com/v0/b/stores-44690.appspot.com/o/stores%2FxVvloiRkq5gMkvnGMytE.jpg?alt=media&refresh=1753882438"
                            class="w-full"
                            width="100"
                            data-src="//thotcomputacion.com.uy/wp-content/uploads/2023/12/THOT15AÑOS-22.png"
                            alt="Cacao Import"
                            data-ll-status="loaded"
                        />
                    </div>
                </a>
            </div>

            <!-- Barra de Búsqueda -->
            <div class="w-full md:w-auto flex-grow order-3 md:order-2">
                <div class="relative flex w-full max-w-2xl mx-auto">
                    <input
                        type="text"
                        placeholder="Buscar productos..."
                        class="w-full border-2 border-custom-orange rounded-l-md py-3 px-4 focus:outline-none focus:ring-2 focus:ring-[#32adfe] transition"
                    />
                    <button
                        class="bg-custom-orange text-white px-4 rounded-r-md hover:bg-orange-600 transition-colors"
                    >
                        <!-- Ícono de Lupa (SVG) -->
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                            ></path>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Login y Carrito -->
            <div
                class="w-full sm:w-auto flex items-center justify-center sm:justify-end space-x-6 order-2 md:order-3"
            >
                <!-- Ingresar/Registrarme -->
                <p class="flex items-center space-x-2 text-gray-600">
                    <!-- Ícono de Usuario (SVG) -->
                    <a href="#">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-12 w-12 lg:-mr-5"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="1.5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0z"
                            ></path>
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 21a9 9 0 100-18 9 9 0 000 18z"></path>
                        </svg>
                    </a>
                    <div class="text-base hidden sm:block">
                        <span class="text-gray-500 text-sm">Hola!</span>
                        <p class="font-semibold text-gray-800">
                            <a
                                href="#"
                                class="hover:text-custom-orange transition-colors"
                            >
                                Ingresar
                            </a>
                            /
                            <a
                                href="#"
                                class="hover:text-custom-orange transition-colors"
                            >
                                Registrarme
                            </a>
                        </p>
                    </div>
                </p>

                <!-- Carrito -->
                <a
                    href="#"
                    class="flex items-center space-x-6 text-gray-600 hover:text-custom-orange transition-colors mt-1"
                >
                    <div class="relative">
                        <!-- Ícono de Carrito (SVG) -->
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-10 w-10"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="1.5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                            ></path>
                        </svg>
                        <span
                            class="absolute -top-2 -right-2 bg-red-600 text-white text-xs font-bold rounded-full h-5 w-5 flex items-center justify-center"
                            >0</span
                        >
                    </div>
                    <div class="text-sm hidden sm:block">
                        <span class="text-gray-500">Carrito</span>
                        <p class="font-semibold text-gray-800">US$0.00</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Linea separadora  -->
    <div class="border-t border-gray-200"></div>
    <!-- Barra de Navegación Inferior -->
</header>

<nav class="mx-auto lg:px-10 sticky top-0 z-50 bg-white w-full border-b border-gray-200">
    <div class="lg:container mx-auto lg:px-10">
        <div
            class="flex flex-wrap items-center justify-center md:justify-between text-sm font-medium text-gray-800"
        >
            <!-- Enlaces del lado izquierdo -->
            <div class="flex items-center">
                <a
                    href="/products"
                    class="group hover:bg-[#32adfe] flex items-center px-4 py-4 transition-colors font-bold text-[#32adfe] hover:text-white lg:border-x border-r border-gray-200 text-base"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-7 w-7 mr-2 text-[#32adfe] group-hover:text-white transition-colors"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                    CATEGORÍAS
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4 ml-2 lg:ml-5 text-[#32adfe] group-hover:text-white transition-colors"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>

                <a
                    href="#"
                    class="flex items-center px-4 hover:text-custom-orange transition-colors border-gray-200 text-base lg:text-lg"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 lg:h-5 lg:w-4 w-4 mr-2"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                        ></path>
                    </svg>
                    Hacé tu pedido
                </a>
            </div>

            <!-- Enlaces del lado derecho (ocultos en móvil) -->
            <div class="hidden md:flex items-start text-lg">
                <a
                    href="#"
                    class="flex items-center px-4 py-3 hover:text-custom-orange transition-colors"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 mr-2"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                        ></path>
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    </svg>
                    Ubicación
                </a>
                <a
                    href="#"
                    class="flex items-center px-4 py-3 hover:text-custom-orange transition-colors"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 mr-2"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                        ></path>
                    </svg>
                    Contacto
                </a>
            </div>
        </div>
    </div>
</nav>

<style is:global>
    /* Definición del color naranja personalizado para Tailwind */
    :root {
        --color-custom-orange: #32adfe;
    }

    .bg-custom-orange {
        background-color: var(--color-custom-orange);
    }

    .border-custom-orange {
        border-color: var(--color-custom-orange);
    }

    .text-custom-orange {
        color: var(--color-custom-orange);
    }

    .hover\:text-custom-orange:hover {
        color: var(--color-custom-orange);
    }
</style>